{% extends "base.html" %}

{% block title %}ahernp.com: Blog Archive{% endblock %}

{% block nav_path %}<a href="/">ahernp.com</a> &rsaquo; Blog Archive{% endblock %}

{% block content %}
	<div id="content" style="width:35em; margin-left:auto; margin-right:auto;">
		<h1>Blog Archive</h1>
		<table>
			<thead>
				<tr><th>Published</th><th>Page Title</th><th>Last Updated</th></tr>
			</thead>
			<tbody>
				{% for page in object_list %}
					<tr>
						<td>{{ page.published|date:"Y-m-d" }}</td>
						<td><a href="/page/{{ page.id }}/">{{ page.title }}</a></td>
						<td>{{ page.updated|date:"Y-m-d H:i" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
{% endblock %}

{% block footer %}{% endblock %}