{% extends "base.html" %}

{% block title %}ahernp.com: Blog{% endblock %}

{% block nav_path %}<a href="/">ahernp.com</a> &rsaquo; Blog{% endblock %}

{% load markup %}

{% block content %}
	<div id="content" style="width:35em; margin-left:auto; margin-right:auto;">
		{% for page in object_list %}
			<h2 style="text-align:right;">{{ page.published|date:"d F Y" }}</h2>
			{{ page.content|markdown:"tables,toc" }}
			<hr size="1">
			<p>
				Last Updated: {{ page.updated|date:"Y-m-d H:i" }};
				<a href="/page/{{ page.id }}/">Comment</a>. 
			</p>
		{% endfor %}
	</div>
	<br>
{% endblock %}

{% block footer %}
	<a href="/blog/archive/">Blog Archive</a>;
	<a href="/blog/feed/">RSS Feed</a>.
{% endblock %}