{% extends "base.html" %}

{% block title %}
	{% if object.id != SITE_ROOT_ID %}
		ahernp.com:
	{% endif %}
	{{ object.title }}
{% endblock %}

{% block nav_path %}
	{% for parent in object.navigation_path %}
			<a href="{{ parent.address }}">{{ parent.title }}</a> &rsaquo;
	{% endfor %}
	{{ object.title }}
{% endblock %}

{% load markup %}

{% block content %}
{% if object.wide %} 
	<div id="content" style="width:45em; margin-left:auto; margin-right:auto;">
{% else %}
	<div id="content" style="width:35em; margin-left:auto; margin-right:auto;">
{% endif %}
		{% if object.published %}<h2 style="text-align:right;">{{ page.published|date:"d F Y" }}</h2>{% endif %}
		{{ object.content|markdown:"tables,toc" }}
	</div>
{% endblock %}

{% block footer %}
	<p>
		Last Updated: {{ object.updated|date:"Y-m-d H:i" }};
		<span id="source_label">Markdown Source</span>;
		<a href="/admin/cm/page/{{ object.id }}/" title="Edit this page">Edit</a>.
	</p>
	<div id="source_body" style="display: none">
		<pre>{{object.content}}</pre>
	</div>
{% endblock %}
