{% extends "base.html" %}

{% block title %}ahernp.com: Blog{% endblock %}

{% block nav_path %}<a href="{% url dmcm_root %}">ahernp.com</a> &rsaquo; Blog{% endblock %}

{% load markup %}

{% block content %}
	{% for page in object_list %}
		<h2 style="text-align:right;">{{ page.published|date:"d F Y" }}</h2>
		{{ page.content|markdown:"extra,tables,toc" }}
		<hr size="1">
		<p>
			Last Updated: {{ page.updated|date:"Y-m-d H:i" }};
			<a href="/{{ page.slug }}/">Comments</a>. 
		</p>
	{% endfor %}
	<br>
{% endblock %}

{% block footer %}
	<a href="{% url dmcm_blog_archive %}">Blog Archive</a>;
	<a href="{% url dmcm_blog_feed %}">RSS Feed</a>.
{% endblock %}