{% extends "base.html" %}

{% block extra_head %}
    <style type="text/css">
        .feed_reader_menu {font-size:small;}
        .feed_reader_subtitle {font-size:small;}
    </style>
    <script type="text/javascript">
        $(function() {
            $( "#accordion" ).accordion({ heightStyle: "auto", collapsible: true, active: false});
        });
    </script>
    <link rel="stylesheet" 
        href="/static/jquery-ui-1.9.2.custom/css/ahernp-theme/jquery-ui-1.9.2.custom.min.css" 
    />
{% endblock %}

{% block title %}ahernp.com: Feed Reader{% endblock %}

{% block nav_path %}<a href="/">ahernp.com</a> &rsaquo; Feed Reader{% endblock %}

{% block content %}
    <h1>Feed Reader</h1>
    <div style="width:20%;float:left">
        <h3><a href="{% url 'feed_reader.views.feeds' %}">All items</a></h3>
        <div id="accordion">
            {% for group in groups %}
                <h3>{{ group.name }}</h3>
                <div>
                    <p>
                        <a href="{% url 'feed_reader.views.feeds' %}?group={{group.id}}">
                            All {{ group.name }}
                        </a>
                    <p>
                    {% for feed in group.feed_set.all %}
                        <p class="feed_reader_menu">
                            <a href="{% url 'feed_reader.views.feeds' %}?feed={{feed.id}}" 
                                title="{{ feed.description }}">
                                {{ feed.title }}
                            </a>
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div> <!-- accordion -->
        {% for feed in no_group %}
            <p>
                <a href="{% url 'feed_reader.views.feeds' %}?feed={{feed.id}}" 
                    title="{{ feed.description }}">
                    {{ feed.title }}
                </a>
            </p>
        {% endfor %}
    </div>
    <div style="width:75%;float:left;padding-left:1em;">
        <h2>{{ entries_header }}</h2>
        {% for entry in entries %}
            <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
            <p class="feed_reader_subtitle">
                from 
                <a href="{{ entry.feed.link }}" title="{{ entry.feed.description }}">
                    {{ entry.feed.title}}
                </a>
                on {{ entry.published_time|date:"d M Y" }} ({{ entry.published_time|timesince }} ago)
            </p>
            <p>{{ entry.description|safe }}</p>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
{% endblock %}

{% block footer %}<a href="/accounts/logout">Logout</a>{% endblock %}