{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript">
        $(function() {
            $("table").dataTable({"bPaginate": false, "aaSorting": []});
        });
    </script>
{% endblock %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block nav_path %}
    {% for parent in object.navigation_path %}
            <a href="{{ parent.address }}">{{ parent.title }}</a> &rsaquo;
    {% endfor %}
    {{ object.title }}
{% endblock %}

{% load dmcm_markup %}

{% block content %}
    {% if object.published %}<h2 style="text-align:right;">{{ page.published|date:"d F Y" }}</h2>{% endif %}
    {{ object.content|markdown:"extra,tables,toc" }}
    
    <!-- Disqus Comment functionality -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /**
            * var disqus_identifier; [Optional but recommended: 
            * Define a unique identifier (e.g. post id or slug) for this thread] 
          */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://ahernpcom.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || 
                document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the 
        <a href="http://disqus.com/?ref_noscript=ahernpcom">
        comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <script type="text/javascript">
        //<![CDATA[
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
            }
            document.write('<script charset="utf-8"  
                  type="text/javascript" 
                  src="http://disqus.com/forums/ahernpcom/get_num_replies.js' + query + '"></' + 'script>');
                })();
        //]]>
    </script>
    <!-- Disqus Comment functionality -->
{% endblock %}

{% block footer %}
    <p>
        Last Updated: {{ object.updated|date:"Y-m-d H:i" }};
        <span id="source_label">Source</span>;
        <a href="/markdown/" title="Markdown Markup">Markdown</a>;
        <a href="/edit/{{ object.slug }}/" title="Edit this page">Edit</a>.
    </p>
    <div id="source_body" style="display: none">
        <pre>{{object.content}}</pre>
    </div>
{% endblock %}
