{% extends "base.html" %}

{% block title %}DMCM: Add Blog Entry{% endblock %}

{% block banner %}DMCM: Add Blog Entry{% endblock %}

{% block content %}
				
	<link type="text/css" href="/site_media/css/ahernp-theme/jquery-ui-1.8.custom.css" rel="Stylesheet" />
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.custom.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("#id_date").datepicker();
		})
	</script>

	<h2 id="page-heading">Add Blog Entry</h2>

	<form action="" method="post"> {% csrf_token %}
		<div class="box">
			<div class="grid_3">
				<fieldset>
					<legend>Description</legend>
					<p><label>Date: </label> {{ form.date }}</p>
					<p><label>Title: </label> {{ form.title }}</p>
					<p><label>Filename: </label> {{ form.filename }}</p>
				</fieldset>
				<input type="submit" name="save" value="Save">
			</div>
			<div class="grid_9">
				<fieldset>
					<legend>Body Text (Use Markdown syntax)</legend>
					{{ form.body_markdown }}
				</fieldset>
			</div>
			<div class="clear"></div>
		</div>
	</form>
{% endblock %}
