<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/site_media/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/site_media/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/site_media/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/site_media/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="../css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="../css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/site_media/js/jquery.dataTables.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$("table").dataTable({"bPaginate": false});
			});
		</script>

		<script type="text/javascript" src="/site_media/lightbox/js/jquery.lightbox.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$("a[href$='.jpg']").lightbox();
		});

		</script>

	</head>
	<body>
		<div class="container_12">
			<div class="grid_12">
				<h1 id="branding">{{ site.domain }}: {{ page.title }}</h1>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				{{ navmenu|safe }}
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				{% if blog %}
					<h2 id="page-heading">{{ page.title }}</h2>
					<p><em>Published: {{ page.date|date:"d F Y" }}.</em>
						<a href="#disqus_thread">Comments</a></p>
				{% endif %}
				{{ page.body|safe }}
				{% if blog %}
					<div id="disqus_thread"></div>
					<script type="text/javascript">
					  /**
						* var disqus_identifier; [Optional but recommended: 
						* Define a unique identifier (e.g. post id or slug) for this thread] 
					  */
					  (function() {
					   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					   dsq.src = 'http://ahernpcom.disqus.com/embed.js';
					   (document.getElementsByTagName('head')[0] || 
						   document.getElementsByTagName('body')    [0]).appendChild(dsq);
					  })();
					</script>
					<noscript>Please enable JavaScript to view the 
						<a href="http://disqus.com/?ref_noscript=ahernpcom">
						   comments powered by Disqus.</a>
					</noscript>
					<a href="http://disqus.com" class="dsq-brlink">blog comments powered by 
					   <span class="logo-disqus">Disqus</span></a>
				{% endif %}
			</div>
			<div class="clear"></div>
			<div class="grid_12" id="site_info">
				<div class="box">
					<p>Updated: {{ page.updated|date:"Y-m-d H:i" }}.
						<a href="http://{{ site.domain }}/dmcm.html" 
							title="Django Markdown Content Manager">DMCM v0.2</a>
						<a href="http://{{ site.domain }}/markdown.html" 
							title="Markdown used on this site">Markdown</a>
						{% if blog %}
						   <a href="source/{{ page.date|date:"Y-m-d" }}-{{ page.filename }}.txt" 
							   title="Markdown text of this page">Source</a>
						   <a href="http://{{ site.domain }}/dmcm/blogupdt/{{ page.id }}" 
							   title="Edit this blog entry">Edit</a></p>
						{% else %}
						   <a href="source/{{ page.filename }}.txt" title="Markdown text of this page">Source</a>
						   <a href="http://{{ site.domain }}/dmcm/pageupdt/{{ page.id }}" 
							   title="Edit this page">Edit</a></p>
						{% endif %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{% if blog %}
			<script type="text/javascript">
				//<![CDATA[
				(function() {
					var links = document.getElementsByTagName('a');
					var query = '?';
					for(var i = 0; i < links.length; i++) {
					if(links[i].href.indexOf('#disqus_thread') >= 0) {
						query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
					}
					}
					document.write('<script charset="utf-8"  
						  type="text/javascript" 
						  src="http://disqus.com/forums/ahernpcom/get_num_replies.js' + query + '"></' + 'script>');
						})();
				//]]>
			</script>
		{% endif %}
	</body>
</html>
