{% extends "base.html" %}

{% block title %}DMCM: Update Page{% endblock %}

{% block banner %}DMCM: Update Page{% endblock %}

{% block content %}
    <h2 id="page-heading">Update Page: {{ page.title }}</h2>
    <p>Jump to: 
        <a href="#html">HTML</a>, 
        <a href="#output">Output</a>.</p>
    <form action="" method="post"> {% csrf_token %}
        <p>Actions: <input type="submit" name="save" value="Save">
            <input type="submit" name="publish" value="Publish">
            <a href="/{{ page.dirname  }}{{ page.filename  }}.html" title="Published Page"> Page</a></p>
        <h4>Body (Use Markdown syntax)</h4>
        {{ form.body_markdown }}
        {% if list %}
            <p><input type="submit" name="replace" value="Replace"> 
            contents with list "{{ list.title }}".
            <a href="/dmcm/listupdt/{{ list.pk }}" title="Edit List">Edit List</a>
            </p>
        {% endif %}
        <p>{{ form.title.errors }}Title: {{ form.title }}; 
            {{ form.parent.errors }}Parent: {{ form.parent }}.</p>
        <p>{{ form.dirname.errors }}Directory Name: {{ form.dirname }};
            {{ form.filename.errors }}Filename: {{ form.filename }}.</p>
        <p><input type="submit" name="save" value="Save"></p>
    </form>
    <h3 id="html">HTML source</h3>
    <p><a href="#">Back to Top</a></p>
    <pre>{{ page.body }}</pre>

    <h3 id="output">Output</h3>
    <p><a href="#">Back to Top</a></p>
    <div style="border: 1px solid green;">
    {{ page.body|safe }}
    </div>
    <p><a href="#">Back to Top</a></p>
{% endblock %}
