{% extends "base.html" %}

{% block title %}ahernp.com: Server Status Dashboard{% endblock %}

{% block nav_path %}<a href="/">ahernp.com</a> &rsaquo; Server Status Dashboard{% endblock %}

{% block content %}
	<div id="content" style="width:45em; margin-left:auto; margin-right:auto;">
		<h1>Server Status at {{ time_checked|date:"Y-m-d H:i"}}</h1>
		{% if hostname %}<p><strong>Hostname:</strong> {{ hostname }}</p>{% endif %}
		<h2>Settings</h2>
		{% for flag in settings_flags %}
			<span {% if flag.unexpected %}style="background-color:maroon;color:white;{% endif %}">
				{{ flag.name }}: {{flag.actual}}
			</span> &ensp;
		{% endfor %}
		<h2>Versioning</h2>
		{% if django_version %}<p><strong>Django:</strong> {{ django_version }}</p>{% endif %}
		{% if mysql_version %}<p><strong>MySQL:</strong> {{ mysql_version }}</p>{% endif %}
		{% if gitversion %}
			<strong>Application code:</strong><br>
			<div style="padding-left:1em;">
				<pre>{{ gitversion }}</pre>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block footer %}<a href="/accounts/logout">Logout</a>{% endblock %}