{% extends "base.html" %}

{% load admin_urls %}

{% block extra_head %}
    <link rel="stylesheet" 
        href="/static/jquery-ui-1.9.2.custom/css/ahernp-theme/jquery-ui-1.9.2.custom.min.css" 
    />
    <style type="text/css">
        .hidden {display:none;}
        .num_unread {font-weight:bold;}
        p.feedreader_menu {font-size: small; margin: 0;}
        p.feedreader_subtitle {font-size: small;}
        #content {width: 80%;}
        .feed_entry {padding: 0.2em 0.5em; margin: 0.5em; border: 1px solid #046; border-radius: 1em;}
        .read_entry {color:#888;}
        .secondary_link {text-decoration:none;}
        #spinner {position: fixed; top: 50%; left: 50%; margin-top: -64px; margin-left: -64px; z-index: 3;}
    </style>
    <script type="text/javascript">
        function get_feedreader_attrs(elem) {
            var attrs = $(elem).attr('feedreader');
            if (attrs != '') {
                attrs += '&';
            }
            if ($('#show_read').prop('checked')) {
                attrs +='show_read_flag=1';
            }
            return attrs
        };
        function populate_unread_nums() {
            $.get('/feedreader/get_num_unread/',
                function(json) {
                    $.each(json, function(key, value) {
                        if (value == 0) {
                            $('#'+key).text('');
                        }
                        else {
                            $('#'+key).text('('+value+')');
                        }
                    });
                }
            )
        };
        $(function() {
            $('#accordion').accordion({heightStyle: 'content', collapsible: true, active: false});
            $('.ui-accordion-content').css({'padding': '1em'});
            $('#spinner').hide().ajaxStart(function() {$(this).show();})
                                .ajaxStop(function() {$(this).hide();});
            $('.load_request').click(function() {
                $('#entries').load('/feedreader/get_feeds/',
                    get_feedreader_attrs(this),
                    populate_unread_nums()
                )
            });
            $('a.load_request').click(function(e) { // Disable links
                e.preventDefault();
            });
            populate_unread_nums();
        });
    </script>
{% endblock %}

{% block title %}ahernp.com: Feed Reader{% endblock %}

{% block nav_path %}<a href="/">ahernp.com</a> &rsaquo; Feed Reader{% endblock %}

{% block content %}
    <h1>Feed Reader</h1>
    <div style="width:20%;float:left">
        <p>
            <input id="show_read" type="checkbox" name="Show Stories Already Read">
            Show Read Stories
        </p>
        <h3>
            <a class="load_request" 
                href="{% url 'feedreader.views.feeds' %}"
                title="Show All feeds"
                feedreader="">
                All stories
            </a>
            <span 
                id="unread_total"
                title="Mark as Read"
                class="load_request total_unread"
                feedreader="mark_read_flag=1">
            </span>
        </h3>
        <div id="accordion">
            {% for group in groups %}
                <h3>
                    {{ group.name }} 
                    <span 
                        id="unread_group_button{{group.id}}" 
                        class="num_unread load_request">
                    </span>
                </h3>
                <div>
                    <p class="feedreader_menu">
                        <a class="load_request" 
                            feedreader="group_id={{ group.id }}"
                            href="{% url 'feedreader.views.feeds' %}?group_id={{ group.id }}"
                            title="Show All {{ group.name }} feeds">
                            All {{ group.name }}
                        </a>
                        <a class="secondary_link load_request" 
                            feedreader="group_id={{ group.id }}&poll_flag=1"
                            href="{% url 'feedreader.views.feeds' %}?group_id={{ group.id }}&poll_flag=1"
                            title="Poll All {{ group.name }} feeds">
                            &darr;
                        </a>
                        <span id="unread_group{{group.id}}""
                            title="Mark as Read"
                            feedreader="group_id={{ group.id }}&mark_read_flag=1"
                            class="load_request num_unread">
                        </span>
                    <p>
                    {% for feed in group.feed_set.all %}
                        <p class="feedreader_menu">
                            <a class="load_request" 
                                feedreader="feed_id={{ feed.id }}"
                                href="{% url 'feedreader.views.feeds' %}?feed_id={{ feed.id }}" 
                                title="{{ feed.description }}">
                                {{ feed.title }}
                            </a>
                            <a class="secondary_link load_request" 
                                feedreader="feed_id={{ feed.id }}&poll_flag=1"
                                href="{% url 'feedreader.views.feeds' %}?feed_id={{ feed.id }}&poll_flag=1" 
                                title="Poll {{ feed.title }} feed">
                                &darr;
                            </a>
                            <span id="unread_feed{{feed.id}}"
                                title="Mark as Read"
                                feedreader="feed_id={{ feed.id }}&mark_read_flag=1"
                                class="num_unread load_request">
                            </span>
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div> <!-- accordion -->
        {% for feed in no_group %}
            <p>
                <a class="load_request" feedreader="feed_id={{ feed.id }}"
                    href="{% url 'feedreader.views.feeds' %}?feed_id={{ feed.id }}" 
                    title="{{ feed.description }}">
                    {{ feed.title }}
                </a>
                <a class="secondary_link load_request" 
                    feedreader="feed_id={{ feed.id }}&poll_flag=1"
                    href="{% url 'feedreader.views.feeds' %}?feed=_id{{ feed.id }}&poll_flag=1" 
                    title="Poll {{ feed.title }} feed">
                    &darr;
                </a>
                <span  id="unread_feed{{feed.id}}"
                    title="Mark as Read"
                    feedreader="feed_id={{ feed.id }}&mark_read_flag=1"
                    class="num_unread load_request">
                </span>
            </p>
        {% endfor %}
    </div>
    <div id="entries" style="width:75%;float:left;padding-left:1em;">
        {% include "feedreader/feed_entries.html" %}
    </div>
    <div style="clear:both"></div>
    <div id="spinner">
        <img src="{{ STATIC_URL }}spinner.gif" alt="Please wait" title="Please Wait" />
    </div>
{% endblock %}

{% block footer %}
    <a href="{% url feed_meta|admin_urlname:"changelist" %}" title="Edit Feeds">Edit</a>
    <a href="/accounts/logout">Logout</a>
{% endblock %}